- var featureTableColumns = [{device: 'Ручной миксер', features: [true, false, false, false, false, false, false, false]}, {device: 'Мясорубка/овощерезка', features: [false, false, false, false, true, false, false, true]}, {device: 'Кухонный комбайн', features: [true, false, false, false, true, false, false, true]}, {device: 'Кухонная машина', features: [true, true, true, true, true, true, true, true]}]
- var featureTableFeatures = ['', 'Смешивание, взбивание', 'Замес тугого теста', 'Изготовление домашней пасты', 'Приготовление супов пюре и смузи', 'Изготовление фарша из жесткого мяса', 'Приготовление мороженого', 'Просеивание и протирание', 'Нарезка']
- var firstTable = featureTableColumns.filter ( feature => feature.device !== 'Кухонная машина');
- var secondTable = featureTableColumns.filter ( feature => feature.device === 'Кухонная машина');

mixin features()
    section.features
        .features__wrapper
            h2.features__title
                | На что способна кухонная машина
            .features__table
                .features__column.features__column--title
                    each cell in featureTableFeatures
                        .features__cell
                            p.features__feature=cell

                .features__slider
                    each column in firstTable
                        .features__column
                            .features__cell
                                p.features__text=column.device
                            each feature in column.features
                                .features__cell.features__cell--checkbox
                                    if feature
                                        .features__checkbox(class= column.device === 'Кухонная машина'? 'features__checkbox--red': 'features__checkbox--green')

                                    else
                                        .features__mark
                .features__main
                    each column in secondTable
                        .features__column
                            .features__cell
                                p.features__text=column.device
                            each feature in column.features
                                .features__cell.features__cell--checkbox
                                    if feature
                                        .features__checkbox(class= column.device === 'Кухонная машина' ? 'features__checkbox--red' : 'features__checkbox--green')

                                    else
                                        .features__mark

            picture.features__bottom-box
                source(media='(max-width: 1024px)' srcset=img + 'features-mobile.png')
                img.features__image(src=img + 'features-desktop.png')


