- var navigationLinks = ['Кухонные машины', 'Насадки для кухонных машин', 'Коллекция kMix', 'Насадки для kMix', 'Блендеры']

mixin header()
    header.header
        .header__container
            .header__top
                .header__burger
                    img.header__burger-icon(src=img + 'icons/burger.svg')
                picture.header__logo-box
                    source(media='(max-width: 1024px)' srcset=img + 'header-logo-mobile.png')
                    img.header__logo(src=img + 'header-logo.png')
                .header__phone-box
                    .header__phone-icon-box
                        img.header__phone-icon(src=img + 'icons/phone.svg')
                    .header__phone-content
                        p.header__phone-text
                            | Бесплатно по России
                        a.header__phone(href="tel:88006002798")
                            | 8 800 600 27 98
                .header__actions
                    a.header__registration(href="#")
                        | Регистрация
                    a.header__login(href="#")
                        | Войти
                    a.header__user(href="#")
                        img.header__user-icon(src=img + 'icons/login.svg')
                    a.header__cart(href="#")
                        img.header__cart-icon(src=img + 'icons/cart.svg')
            ul.header__navigation
                each link in navigationLinks
                    li.header__navigation-item
                        a.header__navigation-link(href='#')= link


